body {
  background-color: #2a2a2e;
  color: #f9f9fa;
  font-family: sans-serif;
  margin: 0;
}

:root {
  --half: 0.5rem;
  --single: 1rem;
  --double: 2rem;
  --quad: 4rem;
}

.margin-tb-quad {
  margin-top: var(--quad);
  margin-bottom: var(--quad);
}

.margin-rl-auto {
  margin-left: auto;
  margin-right: auto;
}

.width-half-screen {
  width: 50vw;
}

.min-width-quad {
  min-width: var(--quad);
}

.margin-bottom-single {
  margin-bottom: var(--single);
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.border-top-1px {
  border-top: 1px solid rgba(255,255,255,0.2);
}

a {
  color: #3c9dff;
}

@media screen and (max-width: 900px) {
  .content {
    width: 80vw;
    margin: 20px 10px;
    min-width: initial;
  }
}

